.Weather-container {
  align-items: center;
  display: flex;
  gap: 110px;
  justify-content: center;
  min-height: 100vh;
}

.Search-bar {
  color: #f5fffa;
  font-size: 30px;
}

.search {
  border-bottom: 1px solid #ccc;
  font-size: 25px;
  min-width: 2vw;
  opacity: 0.5;
  outline: none;
  padding: 0 10px;
}

.centralBox {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  /* background: linear-gradient(to bottom, #291a41, #35294f, #423d5c); */
  /* border: 1px solid #6a6488; */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 30px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 40vh;
  right: 32.8%;
  opacity: 0.8;
  position: absolute;
  top: 15%;
  width: 19.3vw;
  z-index: 1;
}

.Element1 {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px auto;
  padding-bottom: 30px;
  width: 90%;
}

.Element2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.sub-Element2 {
  display: flex;
  justify-content: space-between;
}

.Items {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconParams {
  display: flex;
  gap: 5px;
  padding: 15px 0 0 15px;
}

.Temp-icon {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.temp-desc {
  display: flex;
  justify-content: space-between;
}

.Content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  /* margin-top: 58px; */
}

.MainContent {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 75px;
  justify-content: center;
}

.Grid-box-1 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.Grid-box-2 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px 25px;
}

.head1 {
  font-size: 2rem;
  font-weight: 500;
}

.smallBox {
  background: linear-gradient(to bottom, #353151, #130a27);
  border: 1px solid #6a6488;
  border-radius: 25px;
  height: 19vh;
  opacity: 0.8;
  width: 9vw;
}

.smallBox-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
  width: 80%;
}

.temp-days {
  align-items: flex-end;
  display: flex;
  gap: 50px;
}

.smallBox1 {
  /* background-color: rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  /* background: linear-gradient(to top, #1c0e32, #3d355b); */
  /* border: 1px solid #6a6488; */
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 25px;
  bottom: 20.5%;
  height: 19vh;
  opacity: 0.8;
  position: absolute;
  right: 41%;
  width: 9vw;
  z-index: 1;
}

.Box {
  align-items: center;
  background: linear-gradient(to bottom, #3a3259, #281e40, #130b25);
  border: 1px solid #6a6488;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 45vh;
  justify-content: center;
  margin-top: 10px;
  opacity: 0.8;
  width: 15.8vw;
}

.descTemp {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.variants {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Box1 {
  background: linear-gradient(to bottom, #3a3259, #281e40, #130b25);
  border: 1px solid #6a6488;
  border-radius: 30px;
  height: 50vh;
  opacity: 0.8;
  width: 22vw;
}

.Icon-temp {
  align-items: center;
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-top: 10px;
}

.tempStats {
  display: flex;
  flex-direction: column;
}

.head {
  font-size: 4rem;
  font-weight: 500;
}

.high-low {
  display: flex;
  gap: 5px;
}

.city-desc {
  display: flex;
  gap: 180px;
  justify-content: center;
}

.innerContent {
  align-items: center;
  background: linear-gradient(to bottom, #3a3259, #281e40, #130b25);
  border: 1px solid #6a6488;
  border-radius: 30px;
  display: flex;
  height: 22vh;
  justify-content: center;
  margin-left: 10px;
  margin-top: 50px;
  width: 20.9vw;
}

.Sub-content {
  display: flex;
  gap: 15px;
}

.dayStats {
  align-items: center;
  background-color: #312853;
  border: 1px solid #6a6488;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 16vh;
  justify-content: center;
  opacity: 0.8;
  width: 3.2vw;
}

.day-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
