@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: #1f0343;
  margin: 0;
  padding: 0;
}

.App-container {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.Content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.MainContent {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px 100px;
}

.Four_small_boxes {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.smallBox {
  border: 1px solid #778899;
  border-radius: 30px;
  height: 20vh;
  width: 10vw;
}

.Small_box {
  border: 1px solid #778899;
  border-radius: 30px;
  height: 45vh;
  width: 22vw;
}
