.App {
  background: linear-gradient(to bottom, #130428, #050112);
}

.App-container {
  align-items: center;
  color: #fff;
  display: flex;
  gap: 100px;
  justify-content: center;
  min-height: 100vh;
}

.centralBox {
  background: linear-gradient(to bottom, #3a3555, #1f1436, #15092b);
  border: 1px solid #6a6488;
  border-radius: 30px;
  bottom: 55%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 40vh;
  right: 32%;
  opacity: 0.8;
  position: absolute;
  width: 20vw;
}

.Element1 {
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px auto;
  padding-bottom: 30px;
  width: 90%;
}

.Element2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.sub-Element2 {
  display: flex;
  justify-content: space-between;
}

.Items {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconParams {
  display: flex;
  gap: 5px;
}

.Temp-icon {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.temp-desc {
  display: flex;
  justify-content: space-between;
}

.Content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  margin-top: 58px;
}

.MainContent {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
}

.Four_small_boxe {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.Four_small_boxes {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px 25px;
}

.smallBox {
  background: linear-gradient(to bottom, #353151, #130a27);
  border: 1px solid #6a6488;
  border-radius: 25px;
  height: 19vh;
  opacity: 0.8;
  width: 9vw;
}

.smallBox1 {
  border: 1px solid #6a6488;
  border-radius: 25px;
  bottom: 31%;
  height: 19vh;
  opacity: 0.8;
  position: absolute;
  right: 40.5%;
  width: 9vw;
}

.Box {
  border: 1px solid #6a6488;
  border-radius: 25px;
  height: 45vh;
  margin-top: 50px;
  opacity: 0.8;
  width: 15vw;
}

.Box1 {
  background: linear-gradient(to bottom, #3a3259, #281e40, #130b25);
  border: 1px solid #6a6488;
  border-radius: 30px;
  height: 48vh;
  opacity: 0.8;
  width: 22vw;
}

.Icon-temp {
  align-items: center;
  display: flex;
  gap: 50px;
  justify-content: center;
  /* padding-top: 10px; */
}

.tempStats {
  display: flex;
  flex-direction: column;
}

.head {
  font-size: 4rem;
  font-weight: 500;
}

.high-low {
  display: flex;
  gap: 5px;
}

.city-desc {
  display: flex;
  gap: 180px;
  justify-content: center;
}

.innerContent {
  align-items: center;
  /* background: linear-gradient(to bottom, #3f3d5c, #1b162e, #120c26); */
  background: linear-gradient(to bottom, #3a3259, #281e40, #130b25);
  border: 1px solid #6a6488;
  border-radius: 30px;
  display: flex;
  height: 22vh;
  justify-content: center;
  margin-left: 10px;
  margin-top: 40px;
  width: 20.9vw;
}

.Sub-content {
  display: flex;
  gap: 15px;
}

.dayStats {
  align-items: center;
  background-color: #312853;
  border: 1px solid #6a6488;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 16vh;
  justify-content: center;
  opacity: 0.8;
  width: 3.2vw;
}

.day-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
